<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#!/"><img class="img-icon" src="images/open-exit-door.svg"></img> Open Studio</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/#!/events/">Events</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!loggedIn">
          <a ng-click="openLogin()">
            <span class="glyphicon glyphicon-user"></span></a>
        </li>
        <li ng-if="loggedIn">
          <a>{{username}}</a>
        </li>
        <li ng-if="loggedIn">
          <a ng-click="logOut()">
            <span class="glyphicon glyphicon-user"></span> Logout</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
